@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<div class="form-group">
    <div class="row">

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">
                Purpose of Loan
            </label>
            @Html.TextBoxFor(model => model.LoanPurpose, new
       {
           @class = "form-control",
           @placeholder = "Purpose of Loan",
           @name = "PurposeofLoan",
           @id = "PersonalLoanPurpose",
           @type = "text"


       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">
                Repayment Type
            </label>
            <select class="form-control" id="ddlRepaymentType">
                <option>Monthly</option>
                <option>Fornightly</option>
            </select>
            @Html.HiddenFor(model => model.RepaymentType, new { @class = "form-control", @id = "hfRepayment" })
        </div>
    </div>

</div>








